{% extends 'layout/base.html' %}
{% load static%}

{% block content %}
<h1 class="section__title">Welcome!</h1>
<div class="general-section">
    <h4>In this application you may sync your list of contacts in mailchimp</h4>
    <h4>By uploading a .csv file</h4>
    <h3>or</h3>
    <h4>Download the contacts list in .csv format</h4>
    <div class="buttons-container">
        <button class="btn btn-success">
            <a class="custom-link" href="{% url 'upload_csv' %}">Upload a csv</a>
        </button>
        <button class="btn btn-primary">
            <a class="custom-link" href="{% url 'list_download' %}">Download contacts list</a>
        </button>  
    </div>
</div>
{% endblock %}